numpy==1.23.4
pandas==1.5.1
scipy==1.9.3
scikit-learn==1.1.2
scikit-image==0.19.3
pillow==9.2.0
matplotlib==3.6.1
seaborn==0.12.1
jupyter
notebook
line_profiler
memory_profiler
numexpr
pandas-datareader
netcdf4
